<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.chatbackup.server</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>-m</string>
        <string>http.server</string>
        <string>8765</string>
        <string>--directory</string>
        <string>/Users/rafaelhorvat/__code__/chat_backup/data</string>
        <string>--bind</string>
        <string>127.0.0.1</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/rafaelhorvat/__code__/chat_backup/cron/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/rafaelhorvat/__code__/chat_backup/cron/server.err</string>
</dict>
</plist>
